<div class='form'>
<form>
  <h3>Player 1's Choice</h3>
<!-- <input type='text' name='player1'> -->

<select name = 'player1'>
  <option value='rock'>Rock</option>
  <option value='paper'>Paper</option>
  <option value='scissor'>Scissor</option>
</select>

</br>
<h3>Player 2's Choice</h3>
<!-- <input type='text' name='player2'> -->
<select name=player2>
  <option value='rock'>Rock</option>
  <option value='paper'>Paper</option>
  <option value='scissor'>Scissor</option>
</select>

</br>
<input type='submit' value='submit' class ='myButton'>
</br>

<h3>Result</h3>
<div class='result'>
<%= @result %>
</div>
</form>
</div>
