<h3>Rules</h3>
<h4>Game uses the following logic:</h4>
<div class='rules'>
<ul>
  <li>Rock wins against Scissor, loses against Paper</li></br>
  <li>Paper wins against Rock, loses against Scissor</li></br>
  <li>Scissor wins against Paper, loses against Rock</li></br>
</ul>
</div>
